pynecone.db
__pycache__/
.web
*.py[cod]
.idea
.run

dynaconf/*.local.toml
**test.db
/node_modules
/web/app/static/js
.mypy_cache
/fonts
/venv
mix-manifest.json
alembic.ini
pyvenv.cfg
.vscode
cache
/data
/models.flake8
local
